@reference "tailwindcss";

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.logoswiper{
    transition-timing-function: linear;
}

body {
    @apply bg-[#f1f1f1] scroll-smooth
}

h1 {
    @apply text-5xl text-[#36558F] m-2 font-bold
}

h2 {
    @apply text-4xl text-[#36558F] pb-4 font-bold
}

h3 {
    @apply text-2xl text-[#36558F] pb-4 font-bold
}

.swiper-img{
    @apply h-80 md:h-50 object-cover rounded w-full
}

.swiperslide {
    @apply flex justify-center items-center
}
button, .button {
    @apply bg-[#856F80] text-white py-1 px-3 rounded m-4
}

button:hover, .button:hover {
    @apply bg-[#A99AA6]
}

.banner {
    @apply pb-20 pt-40 
}

.bar {
    @apply h-1 w-30 bg-[#856F80] mx-auto mb-8 rounded-full
}
.card {
    @apply bg-white text-[#36558F] rounded pb-6 overflow-hidden shadow-lg;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card img {
    @apply w-full h-full object-cover transition-transform duration-500 ease-in-out;
}

.card:hover img {
    @apply scale-110;
}


.block {
    @apply pb-60 sm:px-15 px-2 scroll-mt-40 xl:w-2/3 lg:w-4/5 md:w-4/5 w-full mx-auto
}



.navbar {
    @apply bg-[#856F80] w-full
}

.swiper-pagination{
    @apply !static
}

.swiper-pagination-bullet-active {
    @apply !bg-[#856F80];
}

/*.draw {*/
/*    font-size: 72px;*/
/*    font-family: sans-serif;*/
/*    fill: none;                !* No fill, only stroke *!*/
/*    stroke: black;              !* Stroke color *!*/
/*    stroke-width: 2;*/
/*    stroke-dasharray: 1000;     !* Total path length *!*/
/*    stroke-dashoffset: 1000;    !* Start hidden *!*/
/*    animation: draw 2s linear forwards;*/
/*}*/

/*@keyframes draw {*/
/*    to {*/
/*        stroke-dashoffset: 0;     !* Reveal stroke *!*/
/*    }*/
/*}*/


/*.swiper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.swiper-slide {*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    background: #444;*/

/*    !* Center slide text vertically *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.swiper-slide img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
